.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .forgot-password-form {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .forgot-password-form form
  {
    padding: 20px;
  }
  .forgot-password-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    background: #0056b3;
    padding: 16px 0;
  }
  
  .forgot-password-form .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 28px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .forgot-password-form .btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    color: #fff;
    background-color: #bc344c;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-form .btn:hover {
    background-color: #0056b3;
  }
  
  .forgot-password-form p {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  .backtoLogin .btn-link
  {
    color: #bc344c;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
  }
  .backtoLogin .btn-link
  {
    color: #0056b3;
  }